<a href="https://colab.research.google.com/github/saurin33/pyspark_basics/blob/master/demographics_filtered.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Install Java, Spark, and Findspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

In [0]:
# Start spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("demographicsFIlter").getOrCreate()

In [0]:
#  Read the data from S3 bucket
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/dataviz-curriculum/day_1/demographics.csv"
spark.sparkContext.addFile(url)

In [5]:
df = spark.read.option('header', 'true').csv(SparkFiles.get("demographics.csv"), inferSchema=True, sep=',')
df.show()

+---+--------------------+---+------------+---------+--------+------------------+---------------+------+-------------+
| id|                name|age|height_meter|weight_kg|children|        occupation|academic_degree|salary|     location|
+---+--------------------+---+------------+---------+--------+------------------+---------------+------+-------------+
|  0|       Darlena Avila| 58|        1.87|       53|       1|     Choreographer|            PhD|    68| South Dakota|
|  1|            Yan Boyd| 65|         1.8|       40|       0|         Cellarman|       Bachelor|    73|     Delaware|
|  2|         Joette Lane| 32|         1.8|       73|       1|Veterinary Surgeon|         Master|    69| South Dakota|
|  3|        Jazmine Hunt| 61|        1.79|       89|       0|            Hawker|            PhD|    88|    Louisiana|
|  4|      Remedios Gomez| 23|        1.64|       51|       2|     Choreographer|       Bachelor|    83|West Virginia|
|  5|        Myung Brewer| 20|        1.68|       60|       4|    Window Dresser|       Bachelor|    65| South Dakota|
|  6|         Shaun Lynch| 31|        1.56|       62|       0|            Weaver|         Master|    72|    Louisiana|
|  7|     Melodi Mcdowell| 56|         1.6|       42|       0| Lighthouse Keeper|         Master|    65|    Louisiana|
|  8|Charlesetta Steve...| 30|        1.62|       44|       3|        Millwright|         Master|    87|    Louisiana|
|  9|       Merri Charles| 44|        1.69|       51|       5|  Medical Supplier|            PhD|    72|West Virginia|
| 10|        Cassi Meyers| 55|        1.82|       72|       5|        Manicurist|       Bachelor|    73| South Dakota|
| 11|      Shawnee Harmon| 66|        1.63|       78|       5| Medical Physicist|            PhD|    90|     Delaware|
| 12|       Lyndia Spears| 62|        1.88|       41|       1|         Assistant|         Master|    78|       Alaska|
| 13|          Page Evans| 35|        1.53|       74|       5|         Paramedic|       Bachelor|    69|     Delaware|
| 14|        Telma Hebert| 66|        1.94|       79|       3|       Genealogist|         Master|    75| South Dakota|
| 15|      Edelmira Drake| 23|        1.87|       72|       2|           Servant|            PhD|    77| South Dakota|
| 16|       Oscar Guthrie| 40|        1.61|       46|       4| Technical Liaison|       Bachelor|    76|    Louisiana|
| 17|   Bernardina Strong| 34|        1.55|       78|       1|         Scientist|            PhD|    90| South Dakota|
| 18|        Caprice Hart| 64|        1.69|       67|       4|   Market Research|            PhD|    79|    Louisiana|
| 19|         Alleen Pace| 25|        1.86|       81|       4|  Medical Supplier|            PhD|    77| South Dakota|
+---+--------------------+---+------------+---------+--------+------------------+---------------+------+-------------+
only showing top 20 rows

In [48]:
# What occupation had the highest salary?
from pyspark.sql.functions import max, min, mean, avg
df.groupBy('occupation').agg(max('salary')).show(1)

+----------+-----------+
|occupation|max(salary)|
+----------+-----------+
| Scientist|         90|
+----------+-----------+
only showing top 1 row

In [43]:
# What occupation had the lowest salary?
from pyspark.sql.functions import min
df.groupBy('occupation').min('salary').orderBy(['min(salary)']).show(1)

+-------------------+-----------+
|         occupation|min(salary)|
+-------------------+-----------+
|Gaming Club Manager|         65|
+-------------------+-----------+
only showing top 1 row

In [36]:
# What is the mean salary of this dataset?
df.select(mean('salary')).show()

+-----------+
|avg(salary)|
+-----------+
|     77.738|
+-----------+

In [53]:
# What is the max and min of the Salary column?
df.agg(max('salary'), min('salary')).show()

+-----------+-----------+
|max(salary)|min(salary)|
+-----------+-----------+
|         90|         65|
+-----------+-----------+

In [46]:
# Show all of the occupations where salaries were above 80k
df.filter(df['salary']>80).show()

+---+--------------------+---+------------+---------+--------+--------------------+---------------+------+-------------+
| id|                name|age|height_meter|weight_kg|children|          occupation|academic_degree|salary|     location|
+---+--------------------+---+------------+---------+--------+--------------------+---------------+------+-------------+
|  3|        Jazmine Hunt| 61|        1.79|       89|       0|              Hawker|            PhD|    88|    Louisiana|
|  4|      Remedios Gomez| 23|        1.64|       51|       2|       Choreographer|       Bachelor|    83|West Virginia|
|  8|Charlesetta Steve...| 30|        1.62|       44|       3|          Millwright|         Master|    87|    Louisiana|
| 11|      Shawnee Harmon| 66|        1.63|       78|       5|   Medical Physicist|            PhD|    90|     Delaware|
| 17|   Bernardina Strong| 34|        1.55|       78|       1|           Scientist|            PhD|    90| South Dakota|
| 21|      Kemberly Yates| 41|        1.75|       49|       4|     Claims Adjustor|            PhD|    83|     Delaware|
| 29|          Tran Hurst| 56|        1.56|       52|       0| Planning Technician|       Bachelor|    85|     Delaware|
| 30|     Zenobia Delgado| 52|        1.79|       38|       0|       Booking Clerk|       Bachelor|    88|     Delaware|
| 32|          Laine Odom| 35|        1.74|       72|       1|      Sub-Postmaster|       Bachelor|    85|    Louisiana|
| 33|     Shonna Schwartz| 32|         1.7|       44|       0|        Shelf Filler|         Master|    86|       Alaska|
| 34|         Renda Hicks| 67|        1.73|       84|       0|             Chemist|       Bachelor|    89| South Dakota|
| 37|    Celestina Hudson| 31|         1.9|       73|       0|        Betting Shop|            PhD|    83|       Alaska|
| 38|        Willena Snow| 31|        1.51|       43|       1|     Hire Car Driver|         Master|    85|West Virginia|
| 39|        Sunday Kelly| 43|        1.61|       63|       0|    Heating Engineer|         Master|    85|West Virginia|
| 41|         Susy Castro| 33|        1.59|       51|       0|    Vehicle Assessor|       Bachelor|    88|    Louisiana|
| 43|        Britta Wolfe| 45|        1.75|       49|       0|   Building Surveyor|            PhD|    83|West Virginia|
| 47|       Leisha Jacobs| 27|        1.66|       86|       0|Advertising Contr...|         Master|    85|     Delaware|
| 51|        Zofia Franco| 34|        1.97|       44|       1|   Medical Physicist|       Bachelor|    82| South Dakota|
| 52|          Dani Reyes| 61|        1.78|       55|       2|            Labourer|            PhD|    88| South Dakota|
| 53|         Margy Craig| 61|        1.84|       54|       4|   Technical Analyst|         Master|    82|       Alaska|
+---+--------------------+---+------------+---------+--------+--------------------+---------------+------+-------------+
only showing top 20 rows

In [49]:
# BONUS
# What is the average age and height for each academic degree type?
# HINT: You will need to use `groupby` to solve this
df.groupby('academic_degree').agg(avg('height_meter'), avg('age')).show()

+---------------+------------------+------------------+
|academic_degree| avg(height_meter)|          avg(age)|
+---------------+------------------+------------------+
|            PhD|1.7438165680473379| 43.15976331360947|
|         Master|1.7549226006191951|43.139318885448915|
|       Bachelor| 1.757227138643069| 42.51032448377581|
+---------------+------------------+------------------+